/* 





.explanation{
   
}




.explanation-section {
    background-color: #f0f0f0;
    padding: 15px;
    border-top: 1px solid #ddd;
    height: 200px;
    overflow-y: auto;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.explanation-section.closed {
    max-height: 0;
    opacity: 0;
    padding: 0;
    border-top: none;
    overflow: hidden;
} */

/* Ensure content doesn't overflow horizontally */
/* .explanation-section pre {
    white-space: pre-wrap;
    word-break: break-word;
} */

.explanation-section {
    background-color: #f0f0f0;
    margin-top: 20px;
    padding: 15px;
    border-top: 1px solid #ddd;
    overflow-y: auto;
    flex-grow: 1;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    text-align: left;
}

.explanation-section.closed {
    max-height: 0;
    opacity: 0;
    padding: 0;
    border-top: none;
    overflow: hidden;
}
.explanation-section p {
    margin-bottom: 10px;
}
.code-line.highlighted {
    background-color: yellow;
}
.code-line {
    padding: 2px 0;
    text-align: left;
}

.pseudo-code {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 4px;
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
}