.sorting-visualizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    /* Add top margin to avoid overlap with the fixed toolbar */
}





@media (max-width: 768px){} 
