.sorting-visualizer {
    display: flex;
    flex-direction: column;
    /* Subtract the height of the control bar */
    margin-top: 70px;

    /* Keep the top margin for the fixed toolbar */
     align-items: center;
}

.top-section {
    flex-grow: 1;
    height: auto;
    /* display: flex; */
    /* flex-direction: column;   */
    /* overflow-y: auto; */
}

.bars-container {
    height: 300px;
    /* Fixed height for the bars */
    min-height: 300px;
    /* Ensure a minimum height */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .sorting-visualizer {
        height: calc(100vh - 140px);
        /* Adjust if control bar height changes on mobile */
        margin-top: 140px;
        /* Adjust based on control bar height on mobile */
    }
}
